@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Fredericka+the+Great&display=swap');
/* font-family: 'Amatic SC', cursive;
font-family: 'Fredericka the Great', cursive; */

body {
  margin: 0;
  padding: 0;
  font-family: 'Amatic SC', cursive;
  background-image: url('https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
  background-repeat: no-repeat;
  background-size: cover
  }
  
  .center {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  }

  a {
  color:#636363;
  text-decoration: none;
  transition:all 0.5s ease-in;
  }
  
  
  a:hover {
  text-decoration: underline;
  }
  
  
  /* Navigation */
  
  
  .navbar {
  background:rgba(255, 255, 255, 0.4);
  text-align:center;
  padding:1.5rem 0;
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  /* box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12); */
  }
  
  
  .navbar h2 {
  margin:0;
  font-size:40px;
  letter-spacing: 4px;
  }
  
  
  /* Post Styles */
  .post-container {
  background:rgba(255, 255, 255, .9);
  width:80%;
  margin:40px auto;
  box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
  }
  
  
  .post_heading {
    width: 100%;
  text-align:center;
  font-weight:bold;
  font-size:40px;
  color:#636363;
  }
  
  
  .form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  
  
  .form input {
  height:44px;
  padding-left:15px;
  padding-right:15px;
  border: 1px solid #dbe2e8;
  font-size:14px;
  border-radius:2px;
  color:#636363;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  outline:none;
  width:80%;
  }
  
  
  .form textarea {
  width:80%;
  max-width:80%;
  padding-left:15px;
  padding-right:15px;
  padding-top:15px;
  border: 1px solid #dbe2e8;
  font-size:14px;
  border-radius:2px;
  color:#636363;
  /* font-family: 'Work Sans,',sans-serif; */
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  outline:none;
  }
  
  /* All Posts */
  
  .all_post_heading {
  text-align:center;
  font-weight: bold;
  font-weight:400;
  font-size:40px;
  color:#636363;
  word-wrap: break-word;
  }
  
  
  .post {
  background:#fff;
  width:80%;
  margin:0 auto;
  padding:30px;
  margin-bottom:20px;
  box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
  }
  
  
  .form button {
  background:#02b3e4;
  padding:15px 40px;
  margin: 2%;
  text-align: center;
  color:#fff;
  /* font-family:'Work Sans',sans-serif; */
  border-radius:4px;
  border:none;
  font-size:20px;
  }
  
  
  .post_title {
  text-align:justify;
  font-weight:400;
  font-size:40px;
  color:#636363;
  word-wrap: break-word;
  }
  
  
  .post_message {
  font-size:25px;
  font-weight: 200;
  line-height: 2.5rem;
  text-align:justify;
  word-wrap: break-word
  }
  
  
  .control-buttons {
  display:flex;
  justify-content: center
  }

  .delete, .edit {
    border:none;
    text-align: center;
    font-size:20px;
    padding:10px 25px;
    border-radius:5px;
    cursor:pointer;
    outline: none;
    color:#fff;
  }
  
  
  .delete {
  background: #ff7777;
  margin-left: 1%;
  }
  
  
  .edit {
  background:#02b3e4;;
  }
  
